<section class="flex items-center justify-center min-h-screen">
  <div class="flex flex-col gap-2 border p-5 w-8/12 md:w-3/12 rounded-xl">
    <p-toast></p-toast>
    <p class="text-center text-xl">Hello, welcome!</p>
    <p class="text-gray-500 text-center">Happy to see ya back</p>
    <form #f="ngForm" (ngSubmit)="onLogin(f)" class="flex flex-col gap-4 mt-5">
      <input pInputText [required]="true" placeholder="Email" ngModel name="email" />
      <p-password
        placeholder="Password"
        inputStyleClass="w-full"
        styleClass="w-full"
        name="password"
        ngModel
        [required]="true"
        [toggleMask]="true"
        [feedback]="false"
      ></p-password>
      <p-button
        type="submit"
        styleClass="w-full"
        label="Login"
        size="small"
        [loading]="loading"
        [disabled]="!f.valid || loading"
      ></p-button>
    </form>
  </div>
</section>
